/*1em =16px*/
body {
	background-color: #ddd;
	margin: 0;
	padding: 0;
}

.container {
	background-color: #fff;
}

.hinhanh {
	width: 100%;
	height: 100%
}

.container .menu_top .menu_ul {
	display: flex;
	margin: 0;
	padding: 0px;
	background-color: #006e6e;
	position: relative;
	padding-left: 125px;
	padding-right: 125px
}

.container .menu_top .menu_ul li {
	list-style-type: none;
	padding: 8px 16px;
}

.container .menu_top .menu_ul li a {
	text-decoration: none;
	color: #fff;
}

/* .container .menu_top .menu_ul li:nth-child(5) {
	position: absolute;
	right: 0;
} */

.container .menu_top .menu_ul li:hover {
	background-color: #332c6b;
}
/* 
.container .menu_top .menu_ul li:hover a {
	color: #617D7D;
} */
/*giaodien phong kham*/
.container .dshinhanh {
	width: auto;
	height: 22.5em;
}

.container .dshinhanh .hinhtron {
	width: 30px;
	height: 30px;
	background-color: #fff;
}
/*gioithieu*/
.container .gioithieu, .doingubacsi, .dichvu {
	width: 100%;
	height: 13.75em;
	background: #fff;
}

.container .gioithieu .gioithieu_title {
	background-color: #F5F8F7;
	display: flex;
	justify-content: center;
}

.container .gioithieu .gioithieu_title h3 {
	margin: 1px 0;
	padding: 8px 0;
}

/*doi ngu bac si*/
.container .doingubacsi .doingubacsi_title {
	background-color: #F5F8F7;
	display: flex;
	justify-content: center;
}

.container .doingubacsi .doingubacsi_title h3 {
	margin: 1px 0;
	padding: 8px 0;
}
/*dich vu*/
.container .dichvu .dichvu_title {
	background-color: #F5F8F7;
	display: flex;
	justify-content: center;
}

.container .dichvu .dichvu_title h3 {
	margin: 1px 0;
	padding: 8px 0;
}

.container .dichvu  .dichvu_dscacdv {
	display: grid;
	grid-template-columns: 50% 50%;
	align-content: center;
}

.container .dichvu  .dichvu_dscacdv .dv_datlich {
	display: flex;
	justify-content: center;
}

.container .dichvu  .dichvu_dscacdv .dv_datlich a {
	text-decoration: none;
}

/*footer*/
.container .footer {
	width: 100%;
	height: 7.5em;
	border: 1px solid black;
	border-bottom: none;
}

.page-dang-ky {
	padding-left: 65px;
	padding-right: 65px;
}

.form-dangky {
	width: 100%;
}
/*login*/
.container-login {
	display: -webkit-box;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	background-color: #fff;
	min-height: 100vh;
}

.title-login {
	width: 463px;
	padding: 56px 68px 0;
}

.text-sign-in {
	font-family: Inter-semibold, Inter-regular, Roboto, Arial, Helvetica,
		sans-serif;
	font-size: 24px;
	line-height: 36px;
	color: #191440;
	margin-top: 36px;
	margin-bottom: 36px;
}

.text-sign-name {
	font-size: 16px;
	line-height: 24px;
}

.input-field {
	width: 327px;
	max-width: 100%;
	height: 48px;
	background: #fff;
	border: 1px solid #dbdbdb;
	box-sizing: border-box;
	border-radius: 8px;
	margin-top: 12px;
	padding: 12px 16px;
}

.text-padding {
	padding-bottom: 12px
}

.text-forgotpass {
	display: flex;
}

.button-login {
	background-color: #5840bb;
	outline: 0 !important;
	border: none !important;
	border-radius: 8px;
	color: #fff !important;
	width: 100%;
	padding-left: 24px;
	padding-right: 24px;
	height: 48px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

.container-btn-login {
	width: 100%;
	display: -webkit-inline-box;
	display: inline-flex;
	margin-top: 24px;
	margin-bottom: 30px;
	-webkit-box-align: center;
	align-items: center;
}
/*Dang ky*/
.title-rigester {
	width: 463px;
}

.container-padding {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.logo-google {
	background-image: url("/images/google.jpg");
	width: 24px;
	height: 24px;
	margin-right: 16px;
	background-size: contain;
	background-repeat: no-repeat;
}

.sign-in-with-gg {
	width: 100%;
	height: 48px;
	background-color: #f5f5f5;
	border-radius: 6px;
	display: -webkit-inline-box;
	display: inline-flex;
	-webkit-box-align: center;
	align-items: center;
	color: #fff;
	margin-top: 12px;
	padding: 12px 16px;
	margin-bottom: 36px;
	cursor: pointer;
	border: 1px solid transparent;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.span{
	color: #191440
}
/*trang chu*/
.img-trang-chu{
	background-image: url("/images/trang-chu.jpg");
	width: 48px;
	height: 48px;
	margin-right: 16px;
	background-size: contain;
	background-repeat: no-repeat;
}
/*Menu */

/*----- Phần menu -----*/
.menu {
   background-color: #332c6b;
    height: 50px;
}
.menu li {
    margin:0px;
    list-style:none;
    font-family:'Ek Mukta';
}
.menu a {
    transition:all linear 0.15s;
    color:#919191;
    text-decoration:none;
}
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#be5b70;
} 
.menu .arrow {
    font-size:11px;
    line-height:0%;
} 
/*----- css cho phần menu cha -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    color:white;
}
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#2e2728;
}
/*----css cho menu con----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}
.sub-menu li {
    display:block;
    font-size:16px;
}
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#3e3436;
}
.tag-a{
text-align: center;
    padding-top: 15px;
    list-style-position: none;
    text-decoration: none;
}
.img-home{
	width: 100%;
	height: 188.13px !important;
}
.text-service{
	text-align: center;
}
.container-btn-datlich{
    border-radius: 8px;
    height: 48px;
    padding: 12px 24px;
    color: #fff;
    font-family: inter-medium;
    border: none;
    text-align: center;
    margin-bottom: 90px;
    transition: all .3s ease;
}
.button-login-home{
	background-color: #5840bb;
    outline: 0 !important;
    border: none !important;
    border-radius: 8px;
    color: #fff !important;
    /* width: 100%; */
    padding-left: 24px;
    padding-right: 24px;
    height: 48px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.container-btn-datlich {
    display: -webkit-inline-box;
    display: inline-flex;
    margin-top: 24px;
    margin-bottom: 30px;
    -webkit-box-align: center;
    align-items: center;
}